<div class="container">
            <div class="card">
                <div class="card-header">
                    Form Client
                </div>
                <div class="card-body">
                    <form (ngSubmit)=send(f)
                    #f="ngForm">
                        <div class="form-group">
                            <input type="text" name="name" 
                            class="form-control" placeholder="name"
                            [(ngModel)]="client.name" required />
                        </div>
                        <div class="form-group">
                            <input type="text" name="city" 
                            class="form-control" placeholder="city"
                            [(ngModel)]="client.city" required/>
                        </div>
                        <div class="form-group">
                            <input type="number" name="phoneNumber" 
                            class="form-control" placeholder="phoneNumber"
                            [(ngModel)]="client.phoneNumber" required/>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" 
                            class="form-control" placeholder="email"
                            [(ngModel)]="client.email" required/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="commercialRecord"
                            class="form-control" placeholder="commercialRecord"
                            [(ngModel)]="client.commercialRecord" required/>
                        </div>
                        <button type="submit" class="btn btn-success">Send</button>
                    </form>
                    
                </div>
                <div class="card-footer">

                </div>
            </div>
</div>