<div class="container">
    <input #fSearch (keyup)="search(fSearch.value)" class="form-control me-2" type="search" placeholder="Search by city" aria-label="Search">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">City</th>
      <th scope="col">PhoneNumber</th>
      <th scope="col">Email</th>
      <th scope="col">CommercialRecord</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor ="let client of SearchClients">
      <td>{{client.name}}</td>
      <td>{{client.city}}</td>
      <td>{{client.phoneNumber}}</td>
      <td>{{client.email}}</td>
      <td>{{client.commercialRecord}}</td>
      <td><button [routerLink]="['/edit',client.id]" class="btn btn-outline-primary">Edit</button></td>
      <td><button (click)="deleteClient(client)" class="btn btn-outline-danger">Delete</button></td>
    </tr>
  </tbody>
</table>
</div>