<app-nav></app-nav>
<div class="container">
    <div class="row justify-content-center ">
        <div class="col-8">
            <app-form-client [id]="id"></app-form-client>
        </div>  
    </div>
</div>